@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 95%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 17% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 17% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 230 48% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 230 48% 54%;
    --radius: 0.5rem;
    --chart-1: 230;
    --chart-2: 45;
    --chart-3: 160;
    --chart-4: 300;
    --chart-5: 200;
  }
 
  .dark {
    --background: 200 13% 15%;
    --foreground: 200 13% 83%;
    --card: 200 13% 19%;
    --card-foreground: 200 13% 83%;
    --popover: 200 13% 19%;
    --popover-foreground: 200 13% 83%;
    --primary: 230 41% 63%;
    --primary-foreground: 230 40% 10%;
    --secondary: 220 13% 25%;
    --secondary-foreground: 200 13% 93%;
    --muted: 220 13% 25%;
    --muted-foreground: 200 13% 63%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 230 41% 63%;
    --chart-1: 230;
    --chart-2: 45;
    --chart-3: 160;
    --chart-4: 300;
    --chart-5: 200;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}